.header {
  color: #1a8cff;
  letter-spacing: 2px;
  margin: 5px 0px 5px 8px; !important
}
.header > li > a:hover {
  color: #1a8cff;
}

a {
  text-decoration: none;
}
.move {
  margin-left: 120px; !important
}
.moveLeft {
    margin-left: 450px;
}

.nav > .open > a:visited {
  color: #595959;
}
.nav > li > a:hover {
  color: #333333; !important
}
.nav > li > a:active {
  color: #333333; !important
}
.listAll {
  height: 60px;
  box-shadow: 1px 1px 0.5px 0.5px;
}

.navColor {
  background-color: #595959;
  color: white;
  font-size: 17px;
}
.noStyle {
  text-decoration: none;
  color: #333333;
  font-size: 15px;
}
li > a:hover {
  color: #595959; !important

}
#bold {
  font-weight: bold;
}
